<!-- lessons/templates/lessons/template_form.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ title }} - Детский сад{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4>{{ title }}</h4>
                        <a href="{% url 'lessons:templates_list' %}" class="btn btn-outline-secondary btn-sm">
                            <i class="fas fa-arrow-left me-1"></i> Назад
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.title|as_crispy_field }}
                            </div>
                            <div class="col-md-3">
                                {{ form.age_group|as_crispy_field }}
                            </div>
                            <div class="col-md-3">
                                {{ form.lesson_type|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                {{ form.description|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                {{ form.objectives|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                {{ form.materials|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                {{ form.duration|as_crispy_field }}
                            </div>
                            <div class="col-md-6">
                                {{ form.steps|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                {{ form.variations|as_crispy_field }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-check form-switch">
                                    {{ form.is_public }}
                                    <label class="form-check-label" for="{{ form.is_public.id_for_label }}">
                                        Сделать шаблон общедоступным
                                    </label>
                                </div>
                                <small class="form-text text-muted">
                                    Общедоступные шаблоны видны всем воспитателям
                                </small>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-12">
                                <div class="d-flex justify-content-between">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fas fa-save me-1"></i> {{ submit_text }}
                                    </button>
                                    <button type="button" class="btn btn-outline-secondary" onclick="history.back()">
                                        <i class="fas fa-times me-1"></i> Отмена
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}